$padding-small: 6px 9px;


$section-padding-size: 100px;
$page-side-padding-size: 80px;

$page-side-padding: 0 min(10%, $page-side-padding-size);

$color-sec-2: #f2f8fe;
$color-sec-1: #fbfbfb;

$color-bg: #fbfbfb;
$color-date: #285088;
$color-fg: #285088;